@font-face {
  font-family: 'RockSalt';
  src:     url('./fonts/rocksalt-regular-webfont.woff') format('truetype');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

:root {
    --main-bg-color: rgb(255, 255, 255);
    --main-font-color: rgb(5, 5, 5);
    --second-font-color: rgb(5, 5, 5);
    --dark-green-color: rgb(16, 95, 51);
    --about-bg-color: rgb(11, 12, 15);
    --purple-highlight-color: rgb(109, 58, 204);
    --orange-highlight-color: rgb(216, 79, 25);
    --blue-highlight-color: rgb(94, 204, 212);
    --green-highlight-color: rgb(124, 212, 148);
}

body {
  background: var(--main-bg-color);
  font-family: "Raleway";
  overflow-x: hidden;
  position: relative;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

#logo {
  color: var(--main-font-color);
  font-family: "RockSalt";
  text-decoration: none;
}

#logo.white {
  color: var(--main-bg-color);
  font-family: "RockSalt";
  text-decoration: none;
}

.nav-header {
  min-height: 10vh;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-font-color);
  width: 90%;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transform: translateY(1rem);
  z-index: 2;
  position: relative;

}

.line{
  background: none;
  width: 4.5rem;
  stroke: black;
  stroke-width: 0.3rem;
  stroke-linecap: round;
  pointer-events: none;
}

.line.white{
  stroke: white;
}

.line1,
.line2 {
  width: 4.5rem;
  background: none;
  pointer-events: none;
}


.landing{
  min-height: 86vh;
  margin: 0 auto 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--main-font-color);
  background: var(--main-bg-color);
  scroll-snap-align: end;
}


.landing h3{
  font-family: "RockSalt";
  font-size: 5rem;
  display: flex;
  text-align: center;
  justify-content: center;
}


.landing-desc{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: flex-end;
  transform: translateY(2rem);
}

.about-me{
  display: flex;
  width: 10rem;
  flex-direction: row;
  margin: 2rem;
  align-self: flex-end;
  max-height: 4vh;
  transform: translateY(-2.5rem);
}

.about-me-arrow{
  width: 40%;
}

.about-me-text{
  width: 60%;
  padding-top: 2.1rem;
  font-family: RockSalt;
}

.arrow-button{
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;

}

.arrow-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
  
}

.arrow{
  height: 10vh;
}

.arrow-text{
  font-family: "RockSalt";
  font-size: 0.9rem;
  color: var(--main-font-color)
}

.collab-button{
  transform: translateY(-2rem);
}

.collab-button text{
  fill: var(--main-bg-color);
}

#collab{
  width: 20rem;
}

.slide {
  scroll-snap-align: start;
  min-height: 100vh;
  margin: 0 auto 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-font-color);
  background: var(--main-bg-color);
}

.hero-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 10rem;
  padding-left: 3rem;
  position: relative;
}
.hero-img {
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-desc h2 {
  font-family: "RockSalt";
  font-size: 3rem;
  line-height: 4.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.hero-desc p {
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: 100;
  color: var(--second-font-color);
}

#swap {
  padding-left: 0;
  padding-right: 3rem;
}

.soap-span {
  color: var(--blue-highlight-color);
}
.mountain-span {
  color: var(--purple-highlight-color);
}
.hike-span {
  color: var(--orange-highlight-color);
}
.gizmo-span{
  color: var(--green-highlight-color);
}

.explore {
  color: var(--main-font-color);
  font-family: RockSalt;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.exp-button{
  align-self: flex-start;
}

.exp-bubble{
  width: 55%;
}

.cya-bg {
  position: absolute;
  width: 100%;
  height: 5rem;
  bottom: 2rem;
  left: 0;
  background: var(--main-font-color);
}

.cya{
  color: var(--main-bg-color);
  position: absolute;
  display: flex;
  max-height: 1rem;
  width: 90%;
  bottom: 3rem;
  justify-content: space-between;
  font-size: 1.1rem;
}

.cya-email{
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 2rem;
  padding-top: 3rem;
  width: 100%;
  height: 100%;
  background: var(--main-font-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
  color: var(--main-bg-color);
}

.burger {
  cursor: pointer;
}

.me img{
  padding-left: 5rem;
  width: 40vw;
}

.cv, .email, .github {
  font-family: RockSalt;
  position: absolute;
  width: 20%;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.cv img, .email img, .github img{
  cursor:pointer;
	position: relative;
	display: block;
}

.cv .github .email{
  cursor:pointer;
	position: relative;
	display: block;
}

.cv{
  width: 7rem;
  height: 8rem;
  transform: translate(-9rem, -10rem);
}
.cv h3{
  font-size: 1.5rem;
  color:rgb(216, 79, 25);
  left: 0;
  position:absolute;
  text-align:center;
  top: 1.8rem;
  width: 100%
}

.email{
  transform: translate(-10rem, 10rem);
  width: 15rem;
  height: 9rem;
}

.email h3{
  font-size: 1.5rem;
  color:var(--main-bg-color);
  left: 0;
  position:absolute;
  text-align:center;
  top: 32%;
  width: 100%
}


.github{
  transform: translate(-250%, 70%);
  width: 13rem;
  height: 8rem;
}

.github h3{
  font-size: 1.2rem;
  color:var(--main-font-color);
  left: 0;
  position:absolute;
  text-align:center;
  top: 30%;
  width: 100%
}

.cv img,
.email img,
.github img{
  transform: translateX(0%);
}


.contact {
  flex-basis: 35rem;
  padding-right: 4rem;
  padding-top: 1rem;

}

.contact p{
  font-size: 1.7rem;
  line-height: 2rem;
  color: var(--main-bg-color);
}

.contact p a{
  color: var(--main-bg-color);
}

.reveal-img,
.reveal-text {
  position: absolute;
  width: 100%;
  /* height: 150%; */
  /* background: var(--orange-highlight-color); */
  /* background: red; */
  left: 0;
  top: -15%;
}


.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--main-font-color);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transition-property: background, transform;
  transform-origin: 75% 75%;
}
.cursor.nav-active {
  background: var(--orange-highlight-color);
  transform: scale(2.5);
}
.cursor.footer-text-active {
  background: var(--orange-highlight-color);
  transform: scale(2.5);
}
.cursor.explore-active {
  background: var(--main-font-color);
  transform: scale(2.5);
}
.cursor-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.5rem;
  color: var(--main-bg-color);
  transform: translate(-50%, -50%);
}

.title {
  position: relative;
  overflow: hidden;
}

.title-swipe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: darken;
  transform: translateY(100%);
  z-index: 0;
}
/* .achilles-swipe {
  background: var(--purple-highlight-color);
}
.seat-swipe {
  background: var(--orange-highlight-color);
}
.soap-swipe {
  background: var(--blue-highlight-color);
}
.gizmo-swipe {
  background: var(--green-highlight-color);
} */

.scrollmagic-pin-spacer {
  position: static !important;
}

body.hide {
  overflow: hidden;
}

/* Other Pages */
.cover-photo{
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  margin: auto;
  position: relative;
  transform: translateY(-7rem); 
}

.intro.proj{
  margin: 0 auto 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
  transform: translateY(-3rem);
}

.proj-title{
  display: flex;
  flex: 40%;
  flex-direction: column;
  font-family: "RockSalt";
  font-size: 3rem;
  line-height: 7rem;
  display: flex;
  width: 50%;
  flex-direction: column;
  padding-left: 2rem;
}

.proj-desc{
  display: flex;
  flex: 40%;
  flex-direction: column;
  justify-content: space-between;
}

.proj-title.seat{
  max-height: 30vw;
  width: 80%;
}

.date{
  padding-top: 1rem;
  font-family: RockSalt;
  font-size: 1rem;
  text-align: right;

}
.abstract{
  font-family: Raleway;
  font-size: 1.5rem;
  padding-left: 5rem;
  vertical-align: bottom;
  align-self: flex-end;
}

.date.seat{
  padding-top: 0;
  padding-bottom: 1rem;
  align-self: flex-start;
}
.abstract.seat{
  padding-left: 2rem;
  text-align: left;
  width: 80%;
}


.intro-text{
  display: flex;
  flex-direction: column;
  flex-basis: 60rem;
  padding-right: 5rem;
  justify-content: space-between;
}

.intro-seat{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro-img{
  display: flex;
  justify-content: right;
  height: 90vh;
  max-width: 25vw;
  object-fit: cover;
  align-items: right;
}


.skills-bg{
  width:100%;
  padding: 1rem;
  background: var(--main-font-color);
}

.skills{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: RockSalt;
  color: var(--main-bg-color);
}

.footer-text{
  font-family: RockSalt;
  font-size: 2rem;
  margin: auto;
  text-decoration: none;
  color: var(--main-bg-color);
  transform: translateY(-1.5rem);
}


footer{
  background: var(--main-font-color);
  height: 38.2vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  transform: translateY(2rem);
}

.vid{
  width: 90%;
  margin: auto;
  display: flex;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.poster{
  width: 75%;
  margin: auto;
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.blue{
  color: var(--blue-highlight-color);
}
.green{
  color: var(--green-highlight-color);
}

.orange{
  color: var(--orange-highlight-color);
}

.white{
  color: white;
}

/* .detail-slide{
  width:70%;
} */

.fashion1,
.fashion2,
.fashion3 {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto;
  color: var(--main-font-color);
  flex-wrap: wrap;
  position: relative;
}
.fashion-img {
  height: 85vh;
  flex-basis: 35rem;
}

.fashion-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.fashion-text {
  flex: 1;
  position: relative;
  flex-basis: 10rem;
  padding-right: 1rem;
}

.fashion-text h1 {
  padding: 5rem 0rem;
  font-family: "RockSalt";
}


.fashion-text p {
  padding: 2rem 2rem 0rem 0rem;
  margin-bottom: 10rem;
}
.fashion-nr {
  font-size: 6rem;
  font-family: "RockSalt";
  position: absolute;
  left: 40%;
  bottom: 20%;
  color: var(--orange-highlight-color);
  opacity: 0;
}

.swipe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.swipe1 {
  background: var(--orange-highlight-color);
  z-index: 5;
}
.swipe2 {
  background: var(--main-bg-color);
  z-index: 4;
}
.swipe3 {
  background: var(--main-font-color);
  z-index: 3;
}

.making-process{
  transform: translateY(-5rem)
}

.making-process img{
  width: 90%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin: auto;
  display: flex;
  align-self: center;
}

.making-process h2{
  font-family: RockSalt;
  font-size: 2rem;
  padding-left: 4rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  /* padding: 2rem; */
}

.disclaimer{
  font-size: 1.3rem;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  margin: auto;
  padding: 1rem;
}

.disclaimer p{
  display: flex;
  align-self: right;
  text-align: right;
}

@media screen and (max-width: 1500px) {
  .hero-img {
    height: 70vh;
  }
  
  .landing h3{
    padding-top: 6vh;
    font-size: 3;
  }

  .title-top{
    line-height: 1vw;
  }

  .title-bottom{
    line-height: 14vw;
  }

  .fashion-text h1 {
    font-size: 2.2rem;
    padding: 0rem 0rem;
    padding-right: 1rem;
  }
  .fashion-text p {
    font-size: 1.3rem;
  }
  .fashion-img img {
    height: 65vh;
    object-position: top;
  }
}

/* PHONE SCREEN  */
@media screen and (max-width: 1024px) {

  main {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    scroll-snap-type: none;
  }

  .line{
    background: none;
    width: 2.5rem;
    stroke: black;
    stroke-width: 0.3rem;
    stroke-linecap: round;
    pointer-events: none; 
  }
  
  .line1,
  .line2 {
    height: 0.8rem;
    width: 2.5rem;
    background: none;
    pointer-events: none;
  }

  .landing-desc{
    justify-content: center;
    align-items: center;
  }

  .landing h3{
    padding-top: 15vh;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 8vw;
    line-height: 5vw;
  }
  .collab-bubble{
    transform: scale(0.6);
  }

  #logo{
    font-size: 6vw;
  }

  .arrow-desc{
    padding-top: 3rem;
  }

  .arrow-desc text{
    font-size: 4vw;
  }

  .slide {
    display: block;
    width: 100%;
    text-align: center;
    transform: translateY(-5vh);
  }
  .hero-desc {
    padding: 1rem 0rem;

  }
  .hero-img {
    padding-top: 2rem;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .hero-desc h2 {
    padding: 1rem 0;
    font-size: 8vw;
    line-height: 12vw;
  }
  .hero-desc p {
    font-size: 4vw;
    padding: 1rem 1rem;
    text-align: center;
    /* transform: translateY(-5vh); */
  }

  .exp-button{
    justify-content: center;
    align-items: center;
    margin: auto;

  }

  .exp-bubble{
    width: 40vw;
    align-self: center;
  }

  .intro{
    display: block;
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .proj-title{
    font-size: 8vw;
    line-height: 14vw;
    text-align: center;
  }


  .cover-photo{
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .detail-slide {
    width: 100%;
    text-align: center;
  }
  .fashion-text p {
    margin-bottom: 5rem;
    padding: 0;
  }
  .fastion-text h1 {
    margin: 2rem 0rem;
  }
  .fashion-nr {
    font-size: 8rem;
  }
  .nav-bar {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }
  .me img{
    margin: auto;
    width: 100%;
    padding-top: 30rem;
    padding-left: 0;
    padding-right: 4rem;
  }
  .nav-links {
    position: absolute;
    display: flex;
  }

  .email{
    transform: translate(8rem, 4rem);
    transform: scale(0.8);
  }
  .cv{
    transform: translate(4rem, -10rem);
    width: 5rem;
  }
  .cv h3{
    transform: translateY(-20%);
    font-size: 1rem;
  }
  .github{
    transform: translate(-8rem, -5.5rem);
    width: 7rem;
  }
  .github h3{
    transform: translateY(25%);
    font-size: 0.8rem;
  }

  .contact p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: left;
    padding-bottom: 4rem;
  }

  .contact br {
    display: none;
}
}

/* GALLERY */

.gallery{
  padding-bottom: 2rem;
  width: 100%;
  margin: auto;
}

* {
  box-sizing: border-box;
}

.row {
  width: 100%;
  margin: auto;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 1rem;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* ANIMATION */


#loader{
  width: 60%;
}

#loader:hover .l1{
  opacity: 1;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: line-anim 2s ease forwards;
}

#loader:hover .l2{
  opacity: 1;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: line-anim 2s ease forwards 0.2s;
}

#loader:hover .l3{
  opacity: 1;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: line-anim 2s ease forwards 0.4s;

}

#loader:hover .l4{
  opacity: 1;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: line-anim 2s ease forwards 0.6s;
}

#loader:hover .l5{
  opacity: 1;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: line-anim 2s ease forwards 0.8s;
}

#loader:hover .l6{
  opacity: 1;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: line-anim 2s ease forwards 1s;
}

#loader:hover .l7{
  opacity: 1;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: line-anim 2s ease forwards 1.125s;
}

#loader:hover .l8{
  opacity: 1;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: line-anim 2s ease forwards 1.25s;
}


@keyframes line-anim{
  0%{
      fill: none
  }
  to{
      stroke-dashoffset:0;
      
  }
  90%{
      fill: none;
  }
  100%{
      fill: #000000;
  }
}

