@font-face {
  font-family: 'RockSalt';
  src: url('./fonts/rocksalt-regular-webfont.woff') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
}

:root {
  --main-bg-color: rgb(255, 255, 255);
  --main-font-color: rgb(5, 5, 5);
  --second-font-color: rgb(5, 5, 5);
  --dark-green-color: rgb(16, 95, 51);
  --about-bg-color: rgb(11, 12, 15);
  --purple-highlight-color: rgb(109, 58, 204);
  --orange-highlight-color: rgb(216, 79, 25);
  --blue-highlight-color: rgb(94, 204, 212);
  --green-highlight-color: rgb(82, 185, 159);
  --red-highlight-color: rgb(233, 64, 71);
  --light-purple: rgb(211, 186, 248);
  --light-blue: rgb(196, 234, 251);
  --dark-blue: #4141af;
}

body {
  background: var(--main-bg-color);
  font-family: "Raleway";
  overflow-x: hidden;
  position: relative;
}

#logo {
  color: var(--main-font-color);
  font-family: "RockSalt";
  text-decoration: none;
}

#logo.white {
  color: var(--main-bg-color);
  font-family: "RockSalt";
  text-decoration: none;
}

.nav-header {
  min-height: 10vh;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-font-color);
  width: 90%;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transform: translateY(1rem);
  z-index: 2;
  position: relative;

}

.line {
  background: none;
  width: 4.5rem;
  stroke: black;
  stroke-width: 0.3rem;
  stroke-linecap: round;
  pointer-events: none;
}

.line.white {
  stroke: white;
}

.line1,
.line2 {
  width: 4.5rem;
  background: none;
  pointer-events: none;
}


.landing {
  min-height: 80vh;
  margin: 0 auto 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--main-font-color);
  background: var(--main-bg-color);
  /* scroll-snap-align: end; */
}


.landing h3 {
  font-family: "RockSalt";
  font-size: 5rem;
  display: flex;
  text-align: center;
  justify-content: center;
}


.landing-desc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: flex-end;
  transform: translateY(2rem);
}

.about-me {
  display: flex;
  width: 10rem;
  flex-direction: row;
  margin: 2rem;
  align-self: flex-end;
  max-height: 4vh;
  transform: translateY(-2.5rem);
}

.about-me-arrow {
  width: 40%;
}

.about-me-text {
  width: 60%;
  padding-top: 2.1rem;
  font-family: RockSalt;
}

.arrow-button {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  transform: translateY(-1rem);
}

.arrow-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;

}

.arrow {
  height: 10vh;
}

.arrow-text {
  font-family: "RockSalt";
  font-size: 0.9rem;
  color: var(--main-font-color)
}

.collab-button {
  transform: translateY(-2rem);
}

.collab-button text {
  fill: var(--main-bg-color);
}

#collab {
  width: 20rem;
}

.slide {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-font-color);
  background: var(--main-bg-color);
}

.hero-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 10rem;
  padding-left: 3rem;
  position: relative;
}

.bold {
  font-weight: 1000;
}

.hero-img {
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-desc h2 {
  font-family: "RockSalt";
  font-size: 3rem;
  line-height: 4.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero-desc p {
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: 100;
  color: var(--second-font-color);
}

#swap {
  padding-left: 0;
  padding-right: 3rem;
}

.soap-span {
  color: var(--blue-highlight-color);
}

.pain-diary-span{
  color: var(--dark-blue);
}

.mountain-span {
  color: var(--purple-highlight-color);
}

.hike-span {
  color: var(--orange-highlight-color);
}

.gizmo-span {
  color: var(--green-highlight-color);
}

.noweigh-span {
  color: var(--red-highlight-color);
}

.explore {
  color: var(--main-font-color);
  font-family: RockSalt;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.exp-button {
  align-self: flex-start;
}

.exp-bubble {
  width: 55%;
}

.cya-bg {
  position: absolute;
  width: 100%;
  height: 4rem;
  bottom: 0;
  left: 0;
  background: var(--main-font-color);
}

.cya {
  color: var(--main-bg-color);
  position: absolute;
  display: flex;
  max-height: 1rem;
  width: 90%;
  bottom: 2rem;
  justify-content: space-between;
  font-size: 1.1rem;
}

.cya-email {
  cursor: pointer;
  text-decoration: none;
  z-index: 1000;
  color: var(--main-bg-color);
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 2rem;
  padding-top: 3rem;
  width: 100%;
  height: 100%;
  background: var(--main-font-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
  color: var(--main-bg-color);
}

.burger {
  cursor: pointer;
}

.me-n-co {
  padding: 2rem;
}

.me img {
  width: 30rem;
  position: block;
  margin-top: 2rem;
}

.cv,
.email,
.github {
  position: absolute;
}

.cv-img {
  width: 8rem;
  transform: translate(-1rem, -11rem);

}

.email-img {
  width: 13rem;
  transform: translate(20rem, -7rem);

}

.github-img {
  width: 10rem;
  transform: translate(21rem, -28rem);
}

.contact {
  flex-basis: 35rem;
  padding-right: 4rem;
}

.contact p {
  font-size: 1.7rem;
  line-height: 2rem;
  color: var(--main-bg-color);
}

.contact p a {
  color: var(--main-bg-color);
}

.reveal-img,
.reveal-text {
  position: absolute;
  width: 100%;
  /* height: 150%; */
  /* background: var(--orange-highlight-color); */
  /* background: red; */
  left: 0;
  top: -15%;
}


.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--main-font-color);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.15s ease-out;
  transition-property: background, transform;
  transform-origin: 75% 75%;
}

.cursor.nav-active {
  background: var(--main-bg-color);
  transform: scale(2.5);
}

.cursor.footer-active {
  background: var(--main-bg-color);
  transform: scale(2.5);
}

.cursor.explore-active {
  background: var(--main-font-color);
  transform: scale(2.5);
}

.cursor.skill-active {
  background: var(--blue-highlight-color);
  transform: scale(2.5);
}

.cursor-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.5rem;
  color: var(--main-bg-color);
  transform: translate(-50%, -50%);
}

.title {
  position: relative;
  overflow: hidden;
}

.title-swipe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: darken;
  transform: translateY(100%);
  z-index: 0;
}

/* .achilles-swipe {
  background: var(--purple-highlight-color);
}
.seat-swipe {
  background: var(--orange-highlight-color);
}
.soap-swipe {
  background: var(--blue-highlight-color);
}
.gizmo-swipe {
  background: var(--green-highlight-color);
} */

.scrollmagic-pin-spacer {
  position: static !important;
}

body.hide {
  overflow: hidden;
}

/* Other Pages */
.cover-photo {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  margin: auto;
  position: relative;
  transform: translateY(-7rem);
}

.cover-photo.hold{
  transform: translateY(-2rem);
  margin-bottom: 4vh;
}

.intro.proj {
  margin: 0 auto 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
  transform: translateY(-3rem);
}

.intro-img-landscape {
  display: flex;
  width: 100%;
}


.intro-img {
  display: flex;
  justify-content: right;
  height: 95vh;
  max-width: 30vw;
  object-fit: cover;
  align-items: right;
}

.intro-img.phone-in-hand {
  margin: 0rem 4rem; 
}

.proj-title {
  display: flex;
  flex: 40%;
  flex-direction: column;
  font-family: "RockSalt";
  justify-content: space-between;
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 0 2rem;
}

.proj-title h1 {
  font-size: 3.5rem;
  line-height: 7rem;
}

.proj-desc {
  display: flex;
  flex: 40%;
  padding-left: 2rem;
  flex-direction: column;
  justify-content: space-between;
}


.proj-title.seat {
  max-height: 30vw;
  width: 80%;
}

.date {
  font-family: RockSalt;
  font-size: 1.2rem;
  text-align: right;
  padding-bottom: 5rem;

}

.abstract {
  font-family: Raleway;
  font-size: 1.325rem;
  text-align: left;
  width: 80%;
  line-height: none;
  padding-bottom: 0.5rem;
}

.date.seat {
  padding-top: 0;
  padding-bottom: 2rem;
  align-self: flex-start;

}

.abstract.seat {
  padding-left: 2rem;
  text-align: left;
  width: 80%;
}


.intro-text {
  display: flex;
  flex-direction: column;
  flex-basis: 60rem;
  padding-right: 5rem;
  justify-content: space-between;
}

.intro-seat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro-proj.seat {
  padding-right: 2rem;
}


/* .skills-bg{
  width:100%;
  padding: 1.4rem;
  background: var(--main-font-color);
} */

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  font-family: Raleway;
  font-size: 1.1rem;
  padding-right: 5rem;
}

.skills a {
  text-decoration: none;
  color: var(--main-font-color);
  padding-bottom: 0.5rem;
}

.skill-wrap {
  transform: translateY(70%);
  text-align: center;
}

.offshoot-bubble {
  height: 13vh;
}

.offshoot-bubble.ip {
  height: 15vh;
}

.offshoot-bubble.maxi {
  height: 17vh;
}

.offshoot {
  max-height: 5vh;
}

.skills-arrow {
  width: 90%;
  margin: auto;
  display: flex;
}

#skill1,
#skill2,
#skill3,
#skill4,
#skill5,
#skill6 {
  max-height: 0;
  transform: translateY(-16vh);
  position: sticky;
}

.footer-text {
  font-family: RockSalt;
  font-size: 2rem;
  margin: auto;
  text-decoration: none;
  color: var(--main-bg-color);
  transform: translateY(-1.5rem);
  z-index: 22;

}


footer {
  background: var(--main-font-color);
  height: 38.2vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  transform: translateY(2rem);
  z-index: 2;

}

.vid {
  width: 90%;
  margin: auto;
  display: flex;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.slide-deck{
  color: black!important;
  font-weight: 600;
  font-size: 2rem;
}

.poster {
  width: 75%;
  margin: auto;
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.blue {
  color: var(--blue-highlight-color);
}

.green {
  color: var(--green-highlight-color);
}

.orange {
  color: var(--orange-highlight-color);
}

.purple {
  color: var(--purple-highlight-color);
}

.white {
  color: white;
}

/* .detail-slide{
  width:70%;
} */

.fashion1,
.fashion2,
.fashion3 {
  min-height: 70vh;
  display: flex;
  justify-content: flex-end;
  align-items: start;
  width: 75%;
  margin: auto;
  color: var(--main-font-color);
  /* flex-wrap: wrap; */
  position: relative;
}

.fashion-img {
  height: 85vh;
  flex-basis: 30rem;
}

.fashion-img img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.fashion-text {
  flex-basis: 5rem;
  flex: 1;
  position: relative;
  padding-right: 1rem;
  align-self: flex-start;
}

.fashion-text h1 {
  font-family: "RockSalt";
  padding-top: 3rem;
}

.fashion-text p {
  padding-top: 2rem;
}

.future {
  width: 80%;
  margin: auto;
  display: flex;
  padding-bottom: 2rem;
}

.future.col{
  flex-direction: column;
}

.future.col h2{
  font-size: 2rem;
  font-family: RockSalt;
  width: 30vw;
}

.future img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.future.col img{
  padding: 3rem 18rem;
}

.oxo-slide {
  width: 90%;
  margin: auto;
  display: flex;
  padding-bottom: 2rem;
}

.oxo-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swipe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.swipe1 {
  background: var(--orange-highlight-color);
  z-index: 5;
}

.swipe2 {
  background: var(--main-bg-color);
  z-index: 4;
}

.swipe3 {
  background: var(--main-font-color);
  z-index: 3;
}

.making-process {
  transform: translateY(-5rem)
}

.disclaimer {
  font-size: 1.3rem;
  font-weight: 1000;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  margin: auto;
  padding: 1rem;
}

.disclaimer p {
  display: flex;
  align-self: right;
  text-align: right;
}

@media screen and (min-width: 1500px) {
  .slide {
    width: 80%;
  }

  .hero-desc {
    flex-basis: 5rem;
    padding-left: 5rem;
  }

  .hero-img {
    flex-basis: 40rem;
  }

  .hero-desc h2 {
    font-size: 3.5rem;
    line-height: 5rem;
  }

  .hero-desc p {
    font-size: 1.3rem;
  }

  .exp-bubble {
    width: 80%;
  }

  .landing {
    height: 88vh;

    margin: 0 auto 0 auto;
    width: 90%;
  }

  .landing h3 {
    font-size: 6rem;
  }


  .landing-desc {
    transform: translateY(5rem);
  }

  .arrow-button {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transform: translateY(-1rem);
  }

  .arrow-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;

  }

  .arrow-desc {
    transform: translateY(4rem);
  }

  .arrow {
    height: 10vh;
  }

  .arrow-text {
    font-family: "RockSalt";
    font-size: 1rem;
    color: var(--main-font-color)
  }

  #collab {
    transform: scale(1.325);
  }

  .collab-button {
    transform: translate(-15rem, -2rem);
  }

  .nav-bar {
    justify-content: center;
  }

  .me-n-co {
    transform: translateX(-5rem);
  }

  .contact {
    transform: translateX(5rem);
  }

  .detail-slide {
    max-width: 60%;
  }

  .fashion-img {
    height: 60vh;
    flex-basis: 40rem;
    padding-left: 2rem;
  }

  .intro.proj {
    width: 80%;
  }

  



  .proj-title h1 {
    font-size: 5rem;
    line-height: 10rem;
  }

  .abstract {
    font-size: 160%;
  }


  .skills {
    width: 80%;
    font-size: 160%;
    padding-right: 8rem;
  }

  .skills a {
    text-decoration: none;
    color: var(--main-font-color);
    padding-bottom: 0.5rem;
  }

  .skill-wrap {
    transform: translateY(6rem);
  }


  .skills-arrow {
    width: 80%;
  }

  .detail-slide {
    width: 50%;
  }

  .fashion-img {
    height: 45vh;
    flex-basis: 30rem;
  }

  .fashion-text h1 {
    font-size: 200%;
  }

  .fashion-text p {
    font-size: 150%;
  }

  .skill-wrap {
    transform: translateY(67%);
  }

  .future {
    width: 70vw;
  }
}

@media screen and (max-width: 1500px) {
  .hero-img {
    height: 70vh;
  }

  .landing h3 {
    padding-top: 6vh;
    font-size: 3;
  }

  .title-top {
    line-height: 1vw;
  }

  .title-bottom {
    line-height: 14vw;
  }

  .fashion-text h1 {
    font-size: 2.2rem;

    padding: 0rem 0rem;
    padding-right: 1rem;
  }

  .fashion-text p {
    font-size: 1.3rem;
  }

  .fashion-img img {
    height: 65vh;
    object-position: top;
  }

  .landing {
    min-height: 80vh;
    margin: 0 auto 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--main-font-color);
    background: var(--main-bg-color);
    /* scroll-snap-align: end; */
  }


  .landing h3 {
    font-family: "RockSalt";
    font-size: 5rem;
    display: flex;
    text-align: center;
    justify-content: center;
  }


  .landing-desc {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: flex-end;
    transform: translateY(2rem);
  }

  .about-me {
    display: flex;
    width: 10rem;
    flex-direction: row;
    margin: 2rem;
    align-self: flex-end;
    max-height: 4vh;
    transform: translateY(-2.5rem);
  }

  .about-me-arrow {
    width: 40%;
  }

  .about-me-text {
    width: 60%;
    padding-top: 2.1rem;
    font-family: RockSalt;
  }

  .arrow-button {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transform: translateY(-1rem);
  }

  .arrow-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;

  }

  .arrow {
    height: 10vh;
  }

  .arrow-text {
    font-family: "RockSalt";
    font-size: 0.9rem;
    color: var(--main-font-color)
  }

  .collab-button {
    transform: translateY(-2rem);
  }

  .collab-button text {
    fill: var(--main-bg-color);
  }

  #collab {
    width: 20rem;
  }
}


/* PHONE SCREEN  */
@media screen and (max-width: 1024px) {

  .intro-seat{
    min-height: 70vh;
    justify-content: space-around;
  }

  .cover-photo.hold{
    padding-bottom: 0;
  }

  .future.col h2{
    width: 100%;
    font-size: 1rem;
  }

  .future.col img{
    padding: 2rem;
  }

  .intro-text.seat {
    margin: 0 auto 0 auto;
    width: 80%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 1rem;
    transform: translateY(-3rem);
  }

  .date.seat{
    display: flex;
    transform: translateY(4rem);
  }

  .abstract.seat{
    width: 100%;
    padding: 0;
  }

  .abstract.seat p{
    transform: translatey(4rem);
  }

  .skills-bg {
    display: none;
  }

  .skill {
    display: none;
  }

  .skill.offshoot-bubble svg {
    display: none;
  }

  main {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    /* scroll-snap-type: none; */
  }

  .line {
    background: none;
    width: 2.5rem;
    stroke: black;
    stroke-width: 0.3rem;
    stroke-linecap: round;
    pointer-events: none;
  }

  .line1,
  .line2 {
    height: 0.8rem;
    width: 2.5rem;
    background: none;
    pointer-events: none;
  }

  .landing {
    /* min-height: 90vh; */
    max-width: 90%;
  }

  .landing-desc {
    justify-content: center;
    align-items: center;
  }

  .landing h3 {
    padding-top: 4rem;
    width: 90%;
    font-size: 7vw;
    line-height: 4vw;
    margin: auto;
  }

  .collab-button {
    padding-top: 1rem;
  }

  .collab-bubble {
    transform: scale(0.6);
  }

  #logo {
    font-size: 6vw;
  }

  .arrow-desc {
    padding-top: 1rem;
  }

  .arrow-desc text {
    font-size: 4vw;
  }

  .about-me {
    transform: translate(1.25rem, -1.5rem);

  }

  .slide {
    display: block;
    width: 100%;
    text-align: center;
    min-height: 50vh;
  }

  .hero-desc {
    padding: 1rem 0rem;

  }

  .hero-img {
    padding-top: 0rem;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .hero-desc h2 {
    padding: 1rem 0;
    font-size: 8vw;
    line-height: 12vw;
  }

  .hero-desc p {
    font-size: 4vw;
    padding: 1rem 1rem;
    text-align: center;
  }

  .exp-button {
    justify-content: center;
    align-items: center;
    margin: auto;

  }

  .exp-bubble {
    width: 40vw;
    align-self: center;
  }

  .cya-bg {
    height: 5rem;
    bottom: 0;
    transform: translateY(4rem);
  }

  .cya {
    flex-direction: column;
    bottom: 3.5rem;
    font-size: 1rem;
  }

  .cya-email {
    padding-top: 0.5rem;
  }

  .intro {
    display: block;
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .proj-title {
    padding: 0;
    margin: auto;
    width: 100%;
  }

  .proj-title h1 {
    font-size: 2rem;
    line-height: 4rem;
    padding: 1rem 1rem;
    text-align: center;
  }

  .date h4 {
    font-size: 0.85rem;
    text-align: center;
    padding: 1rem 1rem;
  }

  .abstract {
    width: 100%;
    text-align: center;
    padding: 1rem 1rem;
    font-size: 1.3rem;
  }

  .skills {
    flex-direction: column;
    text-align: center;
  }

  .cover-photo {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 3rem;
    transform: translateY(0);
  }

  .detail-slide {
    width: 100%;
    text-align: center;
  }

  .fashion1,
  .fashion2,
  .fashion3 {
    flex-wrap: wrap;
  }

  .fashion-text {
    /* max-height: 40vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
    text-align: left;

  }

  .fashion-text p {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    padding: 0 2rem;
  }

  .fashion-text h1 {
    font-size: 1.3rem;
    margin: 1rem 2rem;
  }

  .fashion-img {
    max-width: 100%;
    max-height: 40vh;
  }

  .fashion-img img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    overflow-y: hidden;
    margin: auto;
    padding: 1rem;
    position: relative;
  }

  .nav-bar {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    padding: 0;
  }

  .contact {
    width: 90%;
    padding: 1rem;
  }

  .contact p {
    font-size: 1.2rem;
    text-align: left;
    padding-bottom: 1rem;
  }

  .me img {
    margin: auto;
    width: 100%;
    padding-top: 26rem;
  }

  .nav-links {
    position: absolute;
    display: flex;
  }

  .cv,
  .email,
  .github {
    padding: 0;
  }

  .cv-img {
    width: 25%;
    transform: translate(0, -140%);
  }

  .email-img {
    width: 40%;
    transform: translate(125%, -80%);

  }

  .github-img {
    width: 37%;
    transform: translate(150%, -480%);
  }

  .contact br {
    display: none;
  }

  .intro-img{
    display: none;
  }
}

/* GALLERY */

.gallery {
  padding-bottom: 2rem;
  width: 85%;
  margin: auto;
}

* {
  box-sizing: border-box;
}

.row {
  width: 100%;
  margin: auto;
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 1rem;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 33%;
  /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 2rem;
}

.column img {
  margin-top: 2rem;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}